<div class="container-fluid" id="footer">
  <div class="row">
      <div class="col-md-2 d-none d-md-block text-center">
        <a href="">{{"for you" | translate}}</a>
      </div>
      <div class="col-md-4 d-none d-md-block text-center">
        <b>{{"copyRight" | translate }}<span> {{date | date:'yyyy'}} </span> <i class="fa fa-copyright" aria-hidden="true"></i> </b>
      </div>
      <div class="col-xs-6 col-md-4">
        <ul>
          <li>
            <a href="">
              <img src="../../assets/App_Store_Badge-white-01.png" alt="">
            </a>
          </li>
          <li>
            <a href="" target="_blank">
              <img src="../../assets/google-play-badge2-white-01.png" alt="">
            </a>
          </li>
        </ul>
      </div>
      <div class="col-xs-6 col-md-2 text-right text-md-center">
        <ul>
          <li>
            <span>
              <a href="https://www.tiktok.com/@maqloba?lang=en" target="_blank">
                <img src="../../assets/tik-tok.png" width="20px" height="20px">
              </a>
            </span></li>
          <li>
            <span>
              <a href="https://twitter.com/maqloba" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </span>
          </li>
          <li>
            <span>
              <a href="https://www.instagram.com/maqloba/?hl=en" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </span>
          </li>
        </ul>
      </div>
  </div>
</div>
